/* fontFace */
@font-face{
    src:url('../fonts/Lato-Regular.ttf');
    font-family:'lato';
}
/* @font-face{
    src:url('../fonts/eurof-regular.ttf');
    font-family:'eurof';
} */

*{
    box-sizing: border-box;
}

html{
     margin:0;
     height: 100%;
     font-family: 'lato';
}

body{
    margin:0;
    height: 100%;
}

header {
    width: 100%;
    height: 8%;
    background-color: #222;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

header h1{
    text-transform: capitalize;
    color: #2eb398;
    z-index: 1;
    transition:0.8s
}

header button{
    background-color: #222;
    border:solid 1px rgb(168, 156, 156);
    color: rgb(168, 156, 156);
    font-size:1.4em;
    cursor:pointer;
}
.fonts{
    width:100%;
    height: 100%;
}
img.portrait{
    align-self:center;
    width: 100px;
    height: 100px;
}


/* helpers  */

.clean-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex; 
}

.column{
    flex-direction: column;
}


/*  classes */

.menu.menu-hidden{
    
    transform: translate(100%, 0);
    
}


.menu {
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #222;
    border-right:none;
    min-width: 250px;
    transform: translate(0, 0);
    transition: all .8s;
    align-items:center;
    justify-content: space-evenly;
    color: rgb(168, 156, 156);

}

.menu li{
    width: 122px;
    height: 34px;
    font-size: 23px;
    text-transform: capitalize;
    cursor: pointer;
}

.menu li:hover{
    color: #2eb398;
}

.menu li a:link{
    color: rgb(168, 156, 156);
}

.menu li a:visited{
    color: rgb(168, 156, 156);
}

.menu li a:hover{
    color: #2eb398;
}

.search-box{
    justify-content: center;
    margin-top:20px;
}

.meme-container{
    justify-content: center;
    flex-wrap: wrap;    
}

.meme-container div{
    margin:6px 6px;
    height: 175px;
    width:175px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50% 50%;

}

.tags{
    justify-content: space-around;
    align-items:center;
    background-color: orange;
    height: 150px;/*temp need to make it pixel perfect*/

}

.tags li{
    cursor: pointer;
}

.tags li:hover{
    color:grey;
    cursor: pointer;
}

.about{
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 350px; /*temp need to make it pixel perfect*/
}


.contact{
    background-color: blue;
    height: 90px;
}

.hidden {
    display:none;
}

.back-to {
    /* margin-bottom: 20px; */
    justify-content: space-between;
    height: 60px;
    /* height: 80px; */
}

.back-text, .download-text {
    width: 90%;
    margin: 0;
    height: 60px;
    /* line-height: 50px; */
    background-color: #2da;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}

.arrow {
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 10%;
    background-color: rgb(124, 211, 9);
    font-size: 35px;
}

.canvas-container {
    width: 100%;
    height: 100%;
    background-color: #555;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;

}

#canvas {
    margin-top: 20px;
    border: 1px black solid;
}

.empty {
    height: 100%;

}

.editor.flex {
    flex-direction: column;
    padding: 20px;
    background-color: #555;
    min-height: 92%;
    justify-content: space-between;
}

.editing.options {
    background-color: #999;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.editing.options input {
    font-size: 22px;
}

.editing-container {
    height: 200px;
}

.editing text-insertion {
    width: 100%;
}

.editing .buttons {
    width: 100%;
}

.editing button {
    height: 35px;
    width: 25%;
    background: linear-gradient(#222, #555, #333);
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.input-color  {
    width: 25%;
    height: 35px;
}

.input-color:hover, button:hover {
    /* filter: brightness(2.3); */
    /* filter: drop-shadow(8px,4px); */
    /* filter: hue-rotate(180deg); */
    filter: invert(80%);
}

.back-to.flex:hover ,.download.flex:hover {
    filter: invert(80%);
}

.download.flex {
    height: 50px;
}

.download img, .back-to img {
    width: 90%;
    height: 90%;
    margin: 0;
    margin-top: 10%;
}

.font-select {
    width: 25%;
}

.font-select option {
    /* width: 25%; */
}